<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>ai.zipline.bay-area-courtbot.racer.{{ORG_ID}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{COURTBOT_BIN}}</string>
    <string>race</string>
    <string>--once</string>
    <string>--facility</string>
    <string>{{FACILITY_ID}}</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key>
      <integer>{{FIRE_HOUR}}</integer>
      <key>Minute</key>
      <integer>{{FIRE_MINUTE}}</integer>
    </dict>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
    <key>COURTBOT_CONFIG</key>
    <string>{{CONFIG_PATH}}</string>
  </dict>
  <key>StandardOutPath</key>
  <string>{{LOG_DIR}}/racer-{{FACILITY_ID}}.out.log</string>
  <key>StandardErrorPath</key>
  <string>{{LOG_DIR}}/racer-{{FACILITY_ID}}.err.log</string>
  <key>Nice</key>
  <integer>-5</integer>
  <key>ProcessType</key>
  <string>Interactive</string>
</dict>
</plist>
